{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

  <div style="font-size: xxx-large; color: rgb(120, 2, 2);" >
    Hola {{ app.user.name }}
  </div>
  
{% endblock %} 